*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

:root {
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #73b40e;
    --span-color: #db7835;
}

/* Header-CSS */

header{
    background: var(--bg-color);
    color: var(--text-color);
    padding-left: 190px;
}
header h6{
    font-size: smaller;
    padding-left: 240px;
    padding-top: 30px;
}
header h1{
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 60px
}
header span{
    color: var(--span-color);
}
header ul{
    display: flex;
    padding-bottom: 30px;

}
header li{
    list-style: none;
}
header a{
    text-decoration: none;
    color: #fff;
    margin-right: 16px;
    padding: 12px;
    background-color: var(--main-color);
    border-radius: 4px;
}
header a:hover{
    background-color: var(--span-color);
}


/*  container-CSS */

.container .sub_container{
    width: 80%;
}
.container .side_bar {
    width: 33.3%;
}
.container{
    padding: 0 190px;
    display: flex;
    gap: 35px;
}
.main_part{
    display: flex;
    gap: 16px;
}
.temp{
    height: auto;
}
.temp h2, .side_bar h2{
    color: var(--main-color);
    padding: 16px 0;
}
.main_part h3{
    font-size: 16px;
    padding-bottom: 20px;
}
.main_part img{
    max-width: 100%;
    max-height: 100vh;
    padding: 4px;
    box-shadow: 0 1px 4px -2px #000000;
}
.main_part p{
    margin-top: 16px;
    font-size: 12px;
}
.main_part a {
    color: var(--main-color);
}
.main_part .links a, .main_part .links span{
    color: var(--main-color);
    padding: 0 1px;
}
.main_part .links {
    margin: 30px 0;
}
.main_part a .read{
    color: var(--span-color);
}
.main_part .links{
    display: flex;
}
.main_part .links a, .main_part .links span{
    font-size: 14px;
    padding-top: 15px;
}
.side_bar {
    width: 236px;
}
.side_bar li{
    list-style: none;
    margin: 10px 0;
}
.side_bar a{
    text-decoration: none;   
    font-size: 12px;
    color: #222327;
}
.side_bar a:hover {
    text-decoration: underline;
    color: var(--main-color);
}
.side_bar li:hover{
    transform: scale(1.05, 1.05);
}
.side_bar h4,.side_bar h5{
    font-size: 12px;
    font-weight: 200;
}
.side_bar h5{
    opacity: 50%;
    margin: 5px 0;
}
.side_bar h4 {
    margin: 15px 0;
}
.side_bar a,
.side_bar h4 {
    opacity: 70%;
}

/* Footer - CSS */

.div2 {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-color);
    color: white;
    padding: 30px 150px;
}
.div2 h2{
    margin-bottom: 20px ;
}
.div2 p{
    font-size: 14px;
}
.div2 a{
    color: var(--main-color);
}
.upper {
    display: flex;
    flex-direction: row;
    padding: 3px;
    gap: 10px;
}

.lower {
    display: flex;
    flex-direction: row;
    padding: 3px;
    gap: 10px;
    margin-top: 10px;
}
#aboutcollection img {
    float: left;
    margin: 0 10px 8px 0;
}
#aboutcollection{
    padding:0 50px 0 50px;
}
footer p a {
    color: var(--main-color);
    text-decoration: underline;
}

footer .foot {
    display: flex;
    justify-content: center;
    background-color: #202020;
    color: white;
    gap: 300px;
    padding: 30px 20px;
    padding-left: 70px;
    box-shadow: 0 0 0 0.25px#fff;
}

footer nav ul {
    display: flex;
    gap: 20px;
    justify-content: right;
}

footer nav a {
    text-decoration: none;
}
footer p, footer a {
    font-size: 12px;
}
footer nav li {
    list-style: none;
}

footer li a:hover {
    color: var(--main-color);
}

footer ul span {
    color: var(--main-color);
}
